In [1]:
# Imports

import numpy as np
import pandas as pd

In [2]:
# Reading in csv file

df = pd.read_csv('weekly_prices.csv')

In [3]:
# Checking the shape of the data

df.shape

(1439, 2)

In [4]:
# Checking to see what the data looks like
# There appears to be some NaN values

df.head(10)

      week_of  dollars_per_gallon
0  2020-10-26               2.234
1  2020-10-19                 NaN
2  2020-10-12               2.257
3  2020-10-05               2.262
4  2020-09-28               2.259
5  2020-09-21               2.259
6  2020-09-14               2.274
7  2020-09-07               2.302
8  2020-08-31               2.311
9  2020-08-24               2.272

In [5]:
# Drop the NaN values

df = df.dropna()

In [6]:
# Check to make sure they were removed

df['dollars_per_gallon'].isnull().any()

False

In [9]:
df

         week_of  dollars_per_gallon
0     2020-10-26               2.234
2     2020-10-12               2.257
3     2020-10-05               2.262
4     2020-09-28               2.259
5     2020-09-21               2.259
...          ...                 ...
1433  1993-05-10               1.097
1434  1993-05-03               1.086
1435  1993-04-26               1.086
1436  1993-04-19               1.079
1437  1993-04-12               1.079

[1301 rows x 2 columns]