<a href="https://colab.research.google.com/github/anitashar/LabsPT13-Resfeber-A-DS/blob/main/Reesfeyber.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [40]:
import pandas as pd

In [41]:
from google.colab import files
uploaded = files.upload()

Saving AB_US_2020.csv to AB_US_2020.csv

In [42]:
import io
df = pd.read_csv(io.BytesIO(uploaded['AB_US_2020.csv']))

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [43]:
df.head()

       id  ...       city
0   38585  ...  Asheville
1   80905  ...  Asheville
2  108061  ...  Asheville
3  155305  ...  Asheville
4  160594  ...  Asheville

[5 rows x 17 columns]

In [44]:
df.dtypes

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
city                               object
dtype: object

In [46]:
df.isnull().sum()

id                                     0
name                                  28
host_id                                0
host_name                             33
neighbourhood_group               115845
neighbourhood                          0
latitude                               0
longitude                              0
room_type                              0
price                                  0
minimum_nights                         0
number_of_reviews                      0
last_review                        48602
reviews_per_month                  48602
calculated_host_listings_count         0
availability_365                       0
city                                   0
dtype: int64

In [20]:
df['room_type'].value_counts()

Entire home/apt    154173
Private room        65887
Shared room          4029
Hotel room           1941
Name: room_type, dtype: int64

In [28]:
df['city'].value_counts()

New York City        45756
Los Angeles          31536
Hawaii               22434
San Diego            12404
Broward County       10858
Austin               10436
Clark County          8408
Washington D.C.       7350
San Clara Country     7091
San Francisco         7053
Seattle               6575
Twin Cities MSA       6470
New Orleans           6408
Chicago               6397
Nashville             6139
Portland              4281
Denver                4200
Rhode Island          3884
Boston                3339
Oakland               3204
San Mateo County      2855
Jersey City           2488
Asheville             2074
Santa Cruz County     1571
Columbus              1409
Cambridge             1029
Salem                  202
Pacific Grove          179
Name: city, dtype: int64

In [36]:
df['neighbourhood'].head()

0    28804
1    28801
2    28801
3    28806
4    28801
Name: neighbourhood, dtype: object

In [38]:
df['neighbourhood'].tail()

226025    Downtown, Chinatown, Penn Quarters, Mount Vern...
226026                        Brookland, Brentwood, Langdon
226027                                   Shaw, Logan Circle
226028       Kalorama Heights, Adams Morgan, Lanier Heights
226029    Edgewood, Bloomingdale, Truxton Circle, Eckington
Name: neighbourhood, dtype: object

In [39]:
df['neighbourhood'].value_counts()

Unincorporated Areas          8020
Hollywood                     4384
Primary Urban Center          4179
Hennepin                      3935
Kihei-Makena                  3894
                              ...
Woodrow                          1
Bay Terrace, Staten Island       1
Iveywood                         1
Hanapepe-Eleele                  1
Peralta-Laney                    1
Name: neighbourhood, Length: 1450, dtype: int64

In [25]:
df['neighbourhood_group'].value_counts().sum()

110185

In [22]:
df['neighbourhood_group'].isnull().sum()

115845

In [24]:
df.shape

(226030, 17)

In [29]:
df.drop('neighbourhood_group', 'id', 'host_id'
  axis='columns', inplace=True)

SyntaxError: ignored

In [27]:
df.head()

       id  ...       city
0   38585  ...  Asheville
1   80905  ...  Asheville
2  108061  ...  Asheville
3  155305  ...  Asheville
4  160594  ...  Asheville

[5 rows x 16 columns]